body{
    background-color:#c99a3e;
    color:#FDF3E7;
    background:#c99a3e url('manyo3.jpg');
    background-attachment:fixed;
    overflow-y:scroll;
    font-family:sans-serif;
    text-align:right;
    background-repeat:no-repeat;
    background-position:left;
    margin-top:0px;
}

h1{
    background-color:#8c001a;
    font-family:"Helvetica", sans-serif;
    color:#FDF3E7;
    font-size:12px;
    text-align:left;
    margin-top:10px;
    border-bottom-style:solid;
}

h2{
    color:#8c001a;
    font-family:"Didot", "Georgia", sans-serif;
    text-align:left;
    display: block;
    width:850px;
    margin-left:auto;
    margin-right:auto;
}

div{
    color:#8c001a;
    text-align:center;
    display: block;
    width:400px;
    padding-left:300px;
}

p{
   color:#FDF3E7; 
}

a{
    color:#C63D0F;
}

div.image
{
    width:500px;
    height:670px;
    background-image:url('manyo3.jpg');
    margin:0;
    padding:0;
    border:1px solid;
}

div.text
{
    width:inherit;
    height:100%;
}

#manyo1{
    margin-right:auto;
}

#description{
    margin-left:auto;
}